body, html {
	font-family: "Brandon Grotesque", "Franklin Gothic",sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: gray;
	width: 100% !important;
	height: 100% !important;
	margin: auto;
	font-size: 20px
	
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: local('Brandon Grotesque Regular'), local('BrandonGrotesque-Regular'),
        url('../fonts/brandon-grotesque/hinted-subset-BrandonGrotesque-Regular.woff2') format('woff2'),
        url('../fonts/brandon-grotesque/hinted-subset-BrandonGrotesque-Regular.woff') format('woff'),
        url('../fonts/brandon-grotesque/hinted-subset-BrandonGrotesque-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
h2 {
	margin: 0 0 20px 0;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 30px;
	font-family: 'Brandon Grotesque'
}
h3, h4 {
	color: #222;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1px;
	font-family: 'Brandon Grotesque'
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
	font-family: 'Brandon Grotesque'
}
p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #555;
}
a:hover, a:focus {
	text-decoration: none;
	color: #000;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
}

/* Navigation */
#nav {
	z-index: 9999;
}
#nav.affix {
	position: fixed;
	top: 0;
	width: 100%
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar .navbar-collapse {
	text-align: center;
	margin-left: -67px;
    margin-right: -67px;
}
.navbar-custom {
	margin-bottom: 0;
	background-color:rgb(33, 59, 72) ;
	border-radius: 0px;
	padding: 10px 0;
	border-bottom: 2px solid #fff;
}
.navbar-custom a {
	color: #f6f6f6;
}
.navbar-custom .nav li a {
	margin: 0 29px;
	text-transform: uppercase;
	letter-spacing: 2px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline: 0;
	color: #000;
	background-color: white;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: #000;
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
	color: #fff;
}
.btn-default {
	text-transform: uppercase;
	color: #555;
	background-color: transparent;
	border-color: #777;
	padding: 14px 20px;
	margin: 0;
	font-size: 16px;
	border-radius: 0;
	margin-top: 22px;
    margin-left: 29%;
    margin-right: 30%;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #fff;
	background-color: #121d1f;
	border-color: #121d1f;
}

/* Header Section */
.headerImg{
	object-fit: contain;
	width: 100%;
}
.intro {
	display: table;
	width: 100%;
	padding: 0;
	text-align: center;
	color: #333;
	background: url(../img/sdfsdf-0.jpeg) no-repeat center top;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.section-title.center {
	padding: 10px 0 40px 0;
}
.intro h1 {
	font-size: 60px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #333;
}
.intro p {
	font-size: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
}
header .intro-text {
	padding-top: 200px;
	padding-bottom: 200px;
}
/* About Section */
#Vision {
	padding: 120px 0;
}
#Vision .about-text {
	margin-left: 10px;
	text-align: center;
}
#Vision img {
	border-radius: 50%;
	width: 160px;
	height: 160px;
	display: inline-block;
}
#Vision p {
	margin-top: 40px;
	margin-bottom: 30px;
	line-height: 22px;
	padding-top: 20px;	

}
#Vision .about-text .about-1{
	background-color: rgb(33, 59, 72);
	display: block;
    height: 45px; 
}
#Vision .about-text .about-1 p{
	color: white;
	padding-top: 2px;
	padding-top: auto;
	padding-bottom: auto;
}
#Vision .about-text .about-2{
	color: rgb(33, 59, 72);
	background-color: lightgray;
	padding-bottom: 10px;
	
}
#Vision .about-text .about-2 p .Title{
	font-weight: bold;
}
.about-2-text{
	padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
	padding-bottom: 20px;
	text-align: justify;
	text-indent: 10px;
}
/*Why Section */
#Why .container{
	padding-bottom: 90px;
    padding-top: 30px;
}
.why-text{
	background-color: rgb(219, 217, 217);
	max-width: 1130px;
    align-content: center;
    margin-left: 20px;
}
.why-text p{
	color: rgb(33, 59, 72) ;
	padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-indent: 25px;
	text-align: justify;
	background-color: lightgrey;
}
/* Team Section */
.row-team{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto 1fr 1fr ;
	grid-column-gap: 40px;
}
.row-team::before{
	display:none;
}
.row-team::after{
	display:none;
	}
.team img{
	height: 250px;
	width: 150px;
	border-radius: 50%;
}
.team{
	color: rgb(33, 59, 72);
}
.team .postion-name .position{
	color: rgb(167, 107,87);
}
@media(max-width: 700px){
	.row-team{
		display: grid;
		grid-template-columns: 1fr ;
		grid-template-rows: auto 1fr 1fr;
		grid-gap: 20px;
	}
	.row-team::before{
		display: none;
	}
	.row-team::after{
		display:none;
	}
	
}

/* Portfolio Section */
#portfolio {
	padding: 120px 0;
	background: white;

}
.portfolio-items{
	padding: 0 20px;
}
.portfolio-item {
	margin: 15px 0;
	display: flex;
	width: 100%;
	margin-bottom:10px;
}
.portfolio-img {
	width:290px;
	height:100%;
}
.portfolio-img img{
	height:100%;
	width:100%;
}
.portfolio-description{ /** width of the longest portfolio icon **/
	margin-left: 10px;
	color:rgb(33, 59, 72);
	align-self: center;
}

@media(max-width: 700px){
	.portfolio-item{
		display: block;
	}
	.portfolio-img{
		width: 100%;
	}
	.portfolio-description{
		width: 100%;
	}
}

/* Active */
#Active{
	display: block;
	position: relative;
}
#Active .ActivePartners{
	display: flex;
	color: rgb(33, 59, 72);
}
#Active .ActivePartnerships p{
	background-color: lightgray;
}
/* Contact Section */
#contact {
	padding: 120px 0 60px 0;
}
#contact h3 {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	font-family: 'Brandon Grotesque'
}
#contact form {
	padding: 30px 0;
}
#contact .text-danger {
	color: #E87E04;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 3px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #2c3e50;
	background-color: rgba(255,255,255,0.8);
	background-image: none;
	border: 1px solid #999;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	font-family: 'Brandon Grotesque'
}
#contact input #upload .form-control{
	display: block;
    margin-left: 54%;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #2c3e50;
}
.form-control:-moz-placeholder {
color: #2c3e50;
}
.form-control::-moz-placeholder {
color: #2c3e50;
}
.form-control:-ms-input-placeholder {
color: #2c3e50;
}
#contact .social {
	margin-top: 80px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 22px;
	padding: 4px;
	color: #444;
	transition: all 0.5s;
}
#contact .social i.fa:hover {
	color: #000;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Footer Section*/
#footer {
	background: #f6f6f6;
	color: #777;
	padding: 30px 0 25px 0;
}
#footer p {
	font-size: 13px;
}
#footer a {
	color: #555;
}
#footer a:hover {
	color: #000;
}
#geo{
	background: #f6f6f6
}
#col-gray:hover{
	background-color: rgba(255,255,255,0.8);
}
.allWidth{
	width: 100%;
	margin-top: 50px;
}
.gray-back{
	background-color: rgb(199, 199, 199)
}
.gray-back:hover{
	background-color: rgb(199, 199, 199)
}
.HtmlContainer{
	height: 100%;
	width: 100%;
}
.menuButton{
	position: fixed;
	z-index: 999;
	bottom: 3.5px;
	right: 0;
	margin: 3.5px;
}
.ui.segment.pushable{
	margin: 0;
}
.content.icon{
	margin: 0!important
}
.ui.sidebar{
	height: auto!important;
	position: fixed;
	
	top: 0
}
.item{
	/* z-index: 999; */
}
/* home button in protfolio edit page */
.button-edit-page{
	margin-bottom: 2%;
	width: auto;
}
/* the main div in edit portfolio page */
.main-div-edit{
	display: grid;
}

/* menu in mobile size */
.ui.visible.left.overlay.sidebar{
	opacity: 0.9;
}

.nonStyleHR{
	grid-column-start: 2;
	margin: 0;
	padding: 2%;
	height: 1px;
	width: 50%;
	text-align: center;
	position: relative;
	background: transparent;
	margin: 0 0;
	margin-bottom: 0;
	border: none;
	border-bottom: 1px solid black;
}

/* styling the divider part coloring and margin the dots */

.divider-dot-color-1{
	color: rgb(150, 91, 71);
	margin-right: 2% !important;
}
.divider-dot-color-2{
	color: rgb(169, 104, 79);
	margin-right: 2% !important;
}
.divider-dot-color-3{
	color: rgb(194, 129, 98);
	margin-right: 2% !important;
}
.divider-dot-color-4{
	color: rgb(235, 168, 132);
	margin-right: 2% !important ;
}
.divider-dot-color-5{
	color: rgb(243, 185, 159);
	margin-right: 2% !important;
}